{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}